:root {
  --Dark: rgba(255, 255, 255);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  background: #b7d1da;
}

.timer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer > div > p {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0 3rem;
  scale: 1;
  animation: stretch 2s infinite alternate;
}
.title {
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: 500;
  color: #02a9ea;
}

.timer {
  display: flex;
  margin-bottom: 3rem;
  font-size: 5rem;
  align-items: flex-end;
}
.separator {
  display: block;
}
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 1rem;
}

#pauseBtn,
#resumeBtn,
#restartBtn {
  display: none;
}

#startBtn {
  background: #3993dd;
  color: white;
  scale: 1;
  transition: ease-in-out 0.3s;
}
#startBtn:hover {
  background: #56cbf9;
  scale: 1.1;
}
#pauseBtn {
  background: #db3a34;
  color: white;
  scale: 1;
  transition: ease-in-out 0.3s;
}
#pauseBtn:hover {
  scale: 1.1;
}
#restartBtn {
  background: #7ea16b;
  color: white;
  scale: 1;
  transition: ease-in-out 0.3s;
}
#restartBtn:hover {
  scale: 1.1;
}

#resumeBtn {
  background: #f283b6;
  color: white;
  scale: 1;
  transition: ease-in-out 0.3s;
}

#resumeBtn:hover {
  scale: 1.1;
}
